 .u-section-1 {
  background-image: url("/images/ga68b48a1dec3a350ea432064d0496e91ff47bb87f120e4a6d6ed0bc2d72ede3e2c8edae39030bb94acc89b485730ffcdee802d5b8ed25012af89c6b3769f4383_1280.jpg");
  background-position: 50% 50%;
  min-height: 865px;
}

.u-section-1 .u-shape-1 {
  height: 425px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 422px;
  height: 422px;
  background-image: url("/images/ewrrr-min.jpg");
  background-position: 50% 50%;
  margin: -349px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  width: 554px;
  margin: 44px auto 0;
}

.u-section-1 .u-text-2 {
  width: 543px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  width: 527px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 713px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 546px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 917px;
  }

  .u-section-1 .u-shape-1 {
    height: 380px;
  }

  .u-section-1 .u-image-1 {
    width: 385px;
    height: 385px;
    margin-top: -297px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 73px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 807px;
  }

  .u-section-1 .u-shape-1 {
    height: 283px;
  }

  .u-section-1 .u-image-1 {
    width: 303px;
    height: 303px;
    margin-top: -223px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 97px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 931px;
}

.u-section-2 .u-shape-1 {
  height: 532px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -472px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 861px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0;
}

.u-section-2 .u-image-1 {
  height: 590px;
  margin-top: 63px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 861px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 611px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 45px 18px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 35px auto 0 0;
  padding: 10px 46px 10px 45px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 785px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 710px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-1 {
    height: 487px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 710px;
  }

  .u-section-2 .u-image-2 {
    height: 504px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 687px;
  }

  .u-section-2 .u-shape-1 {
    height: 387px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -327px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-image-1 {
    height: 391px;
    margin-top: 35px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 386px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1680px;
  }

  .u-section-2 .u-shape-1 {
    height: 1127px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1067px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-1 {
    height: 619px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 579px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1218px;
  }

  .u-section-2 .u-shape-1 {
    height: 367px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -307px;
    margin-bottom: -402px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    height: 381px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 597px;
  }

  .u-section-2 .u-image-2 {
    height: 365px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 631px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  line-height: 1.6;
  margin: 149px 229px 0;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 33px auto 0;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 33px 229px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 129px;
    margin-right: 129px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 129px;
    margin-right: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.75rem;
    width: auto;
    margin-top: 57px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.125rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 676px;
}

.u-section-4 .u-line-1 {
  transform-origin: right center;
  width: 1040px;
  margin: 23px auto 0;
}

.u-section-4 .u-product-1 {
  min-height: 604px;
  background-image: none;
  margin-top: 23px;
  margin-bottom: 26px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 453px;
  left: 50px;
  right: auto;
}

.u-section-4 .u-group-1 {
  width: 485px;
  min-height: 600px;
  background-image: none;
  margin: 0 50px 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.75rem;
  letter-spacing: 5px;
  margin: 36px 0 0;
}

.u-section-4 .u-text-3 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 1.25rem;
  margin: 26px 42px 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  margin: 72px auto 0;
  padding: 10px 137px 10px 136px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-4 .u-line-1 {
    width: 940px;
    margin-top: 36px;
  }

  .u-section-4 .u-product-1 {
    min-height: 601px;
    margin-bottom: 60px;
    height: auto;
  }

  .u-section-4 .u-image-1 {
    width: 456px;
    height: 600px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 0;
  }

  .u-section-4 .u-group-1 {
    width: 484px;
    margin-top: -600px;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 23px;
    margin-right: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
  }

  .u-section-4 .u-product-1 {
    min-height: 466px;
    margin-bottom: 23px;
  }

  .u-section-4 .u-image-1 {
    height: 466px;
    width: 290px;
  }

  .u-section-4 .u-group-1 {
    width: 430px;
    min-height: 466px;
    margin-top: -466px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 17px 21px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 0;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 23px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 9px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 49px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
  }

  .u-section-4 .u-product-1 {
    min-height: 735px;
    margin-bottom: 15px;
  }

  .u-section-4 .u-image-1 {
    height: 352px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: -1px;
    min-height: 384px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 19px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 40px;
    margin-right: auto;
    padding-right: 154px;
    padding-left: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }

  .u-section-4 .u-product-1 {
    min-height: 693px;
    margin-bottom: 23px;
  }

  .u-section-4 .u-group-1 {
    min-height: 341px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 24px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 25px;
    padding-right: 97px;
    padding-left: 96px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1431px;
}

.u-section-5 .u-text-1 {
  font-size: 6rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  margin: 80px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  width: 524px;
  margin: 12px auto 0;
}

.u-section-5 .u-image-1 {
  width: 616px;
  height: 410px;
  margin: 78px auto 0 479px;
}

.u-section-5 .u-group-1 {
  width: 403px;
  min-height: 1058px;
  margin: -410px auto 0 43px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 56px auto 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-5 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-5 .u-text-8 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-5 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 12px auto 0 0;
  padding: 0;
}

.u-section-5 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 60px 0 0;
}

.u-section-5 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-5 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-5 .u-btn-3 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 12px auto 0 0;
  padding: 0;
}

.u-section-5 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 60px 0 0;
}

.u-section-5 .u-text-13 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-5 .u-text-14 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-5 .u-text-15 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-5 .u-text-16 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-5 .u-social-icons-1 {
  height: 24px;
  min-height: 16px;
  width: 125px;
  min-width: 94px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-list-1 {
  width: 616px;
  margin: -617px auto 0 479px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 16px));
  min-height: 500px;
  grid-gap: 32px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 20px 20px 0;
}

.u-section-5 .u-text-17 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 22px auto 0 0;
}

.u-section-5 .u-text-18 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 20px 20px 0;
}

.u-section-5 .u-text-19 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 22px auto 0 0;
}

.u-section-5 .u-text-20 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px 20px 20px 0;
}

.u-section-5 .u-text-21 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 22px auto 0 0;
}

.u-section-5 .u-text-22 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 20px 20px 20px 0;
}

.u-section-5 .u-text-23 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 22px auto 0 0;
}

.u-section-5 .u-text-24 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 59px 45px 60px auto;
  padding: 14px 234px 15px 233px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1346px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 46px;
  }

  .u-section-5 .u-image-1 {
    width: 551px;
    height: 412px;
    margin-top: 42px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-group-1 {
    width: 349px;
    margin-top: -412px;
    margin-left: 0;
  }

  .u-section-5 .u-social-icons-1 {
    width: 126px;
  }

  .u-section-5 .u-list-1 {
    width: 551px;
    margin-top: -603px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 440px;
  }

  .u-section-5 .u-text-17 {
    margin-top: 0;
  }

  .u-section-5 .u-text-19 {
    margin-top: 0;
  }

  .u-section-5 .u-text-21 {
    margin-top: 0;
  }

  .u-section-5 .u-text-23 {
    margin-top: 0;
  }

  .u-section-5 .u-btn-4 {
    margin-top: 105px;
    margin-right: 0;
    margin-bottom: 45px;
    padding-right: 202px;
    padding-left: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2400px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 61px;
  }

  .u-section-5 .u-image-1 {
    height: 451px;
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-group-1 {
    margin-top: 630px;
    min-height: 1003px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 35px;
  }

  .u-section-5 .u-list-1 {
    margin-top: -1590px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 425px;
  }

  .u-section-5 .u-btn-4 {
    margin-top: 43px;
    margin-left: 0;
    margin-bottom: 60px;
    padding-right: 286px;
    padding-left: 285px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2350px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-5 .u-btn-4 {
    padding-right: 196px;
    padding-bottom: 14px;
    padding-left: 195px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2239px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    object-position: 74.14% 0%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    margin-top: 543px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    margin-right: 51px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 51px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 51px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 51px;
  }

  .u-section-5 .u-text-12 {
    margin-right: 51px;
  }

  .u-section-5 .u-text-13 {
    margin-right: 51px;
  }

  .u-section-5 .u-text-15 {
    margin-right: 51px;
  }

  .u-section-5 .u-list-1 {
    margin-top: -1503px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 349px;
  }

  .u-section-5 .u-text-18 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-20 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-22 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-24 {
    font-size: 3rem;
  }

  .u-section-5 .u-btn-4 {
    margin-left: auto;
    margin-right: auto;
    padding: 13px 96px 15px 95px;
  }
}